{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}

  <div class="blog-body">
  {{ post.body }}
  </div>

  {% for image in post.attachments.images %}
  <div class="image"><a href="{{image|url}}">"<img src="{{ image.thumbnail(640)|url }}"></a></div>
  {% endfor %}

  <div class="blog-author">
    Автор: 
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
  </div>
  </p>
  </div>
{% endmacro %}
