{% set carousel_id = 'lbox2-' ~ get_random_id() %}
<div class="slideshow-wrapper">
  <div class="slideshow">
  {% for slide in this.slides.blocks %}
    <div class="slide">
      {% set imgname = slide.image %}
      {% for image in record.attachments.images.all() %}
        {% if image|url == imgname %}
          <a href="{{ imgname }}" data-lightbox="{{ carousel_id }}" data-title="{{ slide.description }}">
            <img src="{{ image.thumbnail(150)|url }}" alt="{{ slide.description }}"/>
          </a>
        {% else %}
          <!--
            skipped: imgurl {{imgname.url}} != image {{ image|url }}
          -->
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
<script id="jquery" src={{ "/jq/jquery.min.js"|url }}></script>
<script id="sizzle" src={{ "/lb2/js/lightbox.min.js"|url }}></script>
{#
vim:ts=2:softtabstop=2:expandtab:shiftwidth=2
#}
