<div class="slideshow-wrapper">
  {% set carousel_id = 'carousel-' ~ get_random_id() %}
  <div class="Wallop Wallop--fold">
    <div class="Wallop-list">
      {% for slide in this.slides.blocks %}
      <div class="Wallop-item">
        <img src="{{ slide.image }}" width="100%">
      </div>
      {% endfor %}
    </div>
    <button class="Wallop-buttonPrevious" role="button">
      <span class="sr-only mdi mdi-arrow-left-bold"></span>
    </button>
    <button class="Wallop-buttonNext" role="button">
      <span class="sr-only mdi mdi-arrow-right-bold"></span>
    </button>
  </div>
</div>
<script id="jquery" src={{ "/jq/jquery.min.js"|url }}></script>
<script id="wallop" src={{ "/wallop/js/Wallop.min.js"|url }}></script>
<script>
  var wallopEl = document.querySelector('.Wallop');
  var slider = new Wallop(wallopEl);
</script>
{#
vim:shiftwidth=2:expandtab:ts=2:softtabstop=2
#}
