{% set carousel_id = 'carousel-' ~ get_random_id() %}
<script async defer id="jquery" src="/jq/jquery.min.js"></script>
{# <script async defer id="sizzle" src="/sizzle/sizzle.min.js"></script> #}
<script async defer id="sizzle" src="/lb2/js/lightbox.min.js"></script>
<div class="slideshow-wrapper">
  <div class="slideshow">

    {% for slide in this.slides.blocks %}
    <div class="item slide">
      <div class="container">
        <a href="{{slide.image}}" data-lightbox="{{slide.image}}" data-title="{{slide.description}}"></a>
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>
{#
<div class="slideshow-wrapper">
  <div class="slideshow">
    <div class="slideshow-inner">
      <div class="carousel slide" data-ride="carousel" data-interval="8500" id="{{ carousel_id }}">
        {#
        <ol class="carousel-indicators">
        {% for slide in this.slides.blocks %}
          <li data-target="#{{ carousel_id }}" data-slide-to="{{ loop.index0 }}"{%
            if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
        </ol>
        #}
        <div class="carousel-inner" role="listbox">
          {% for slide in this.slides.blocks %}
          <div class="item slide{% if loop.first %} active{% endif %}">
            <div class="container">
              <img src="{{ slide.image }}">
              <div class="description">
                {{ slide.description }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#{{ carousel_id }}" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#{{ carousel_id }}" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
#}
{#
vim:ts=2:softtabstop=2:expandtab:shiftwidth=2
#}
