body {
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
    margin: 50px 25px;
}

.page a:hover {
    color: #33bbdf;
}

/* -------- Width ------ */
header, footer, div.page {
    max-width: 1024px;
    margin: 0 auto;
}

header {padding: 0px 0px;}
.page, footer {padding: 20px 0px;}

#topgrad {
    background: url("/static/v-gradient_cyanblue.jpg") repeat-x;
    background: -webkit-linear-gradient(blue, #ddffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, #ddffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, #ddffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, #ddffff); /* Standard syntax */
} 

/* page header ("Шапка") */
.logo .header-nav {padding: 10px;}
/* header .container { background: topgrad; background-size: contain; } */


.logo { width: 20%; float: right; }

.sitetitle {
  font-weight: bold; color:white; text-shadow: black 0.1em 0.1em 0.2em; font-size: 48px; /* float: initial; */
}

.header-nav {w3-margin-top; w3-margin-left;}


/* teachers page: photo of a teacher flows to the left */

.teacher.section {display:block; padding: 5px; overflow: hidden; border-top: 1px solid black;}
.teacher_photo { float: left; display: inline-block; width: 20%, align:center; overflow:hide; padding: 5px;}
.teacher_info { display:block; align=left; padding-left:20%; }


/* image in a paragraph (in text) */
p img {
    display: inline-block; padding: 5px;
}

/* contacts page: font size, color of different lines */
.contacts {display: block; font-size: 25px; vertical-align: middle;}
.contacts .address-line {background: #FDF9D5;}
.contacts .fax-line {background: #FDF9D5;}

.slideshow {display:block;}
.slide {display: inline-block; border: solid 2px white; margin: 10px}

/* 
vim:shiftwidth=4:expandtab:ts=4:softtabstop=4
 */
