body {
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
    margin: 50px 25px;
}

/*
a {
    color: #2a99b6;
}

*/

.page a:hover {
    color: #33bbdf;
}
/* -------- Width ------ */
header, footer, div.page {
    max-width: 1024px;
    margin: 0 auto;
    width: 95%;
}

header {padding: 0px 0px;}
.page, footer {padding: 20px 0px;}

/* page header ("Шапка") */
.logo .header-nav {padding: 10px;}
header .container {
  background: url("/static/v-gradient_cyanblue.jpg") repeat-x ;
  background-size: contain;
  height: 14em; overflow: visible;
}

.logo { width: 20%; float: right; }

.sitetitle {
  font-weight: bold; color:white; font-size: 48px; float: initial;
}

.header-nav {w3-margin-top; w3-margin-left;}

/*
.header-nav a {
  color: navy; display: inline-block; 
  padding: 9px; border: 1px; border-color: #050302;
}
.header-nav a:hover {
  color: maroon; display: inline-block; background: #c5e4c2;
  padding: 9px; border: 1px; border-color: maroon;
}
*/

/* section headers, used from W3
header h1 {
    color: #169bbd; margin: 0; font-weight: normal; font-size: 32px;
}

header h2 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 24px;
}

header h3 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 */

/* teachers page: photo of a teacher flows to the left */

.teacher.section {display:block; padding: 5px; overflow: hidden; border-top: 1px solid black;}
.teacher_photo { float: left; display: inline-block; width: 20%, align:center; overflow:hide; padding: 5px;}
.teacher_info { display:block; align=left; padding-left:20%; }

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

/* image in a paragraph (in text) */
p img {
    display: inline-block; padding: 5px;
}

/* contacts page: font size, color of different lines */
.contacts {display: block; font-size: 25px; vertical-align: middle;}
.contacts .address-line {background: #FDF9D5;}
.contacts .fax-line {background: #FDF9D5;}

/*
 * SLIDE SHOW
 * lektor makes slideshows as a sequence of 'slide' elements, one of which has 'active' flag set
 * .slideshow-wrapper {}
 * .slideshow {}
 * .slideshow-inner {}
 */

.slideshow {display:block;}
.slide {display: inline-block; border: solid 2px white; margin: 10px}

/* 
vim:shiftwidth=4:expandtab:ts=4:softtabstop=4
 */
