{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <header>
    <h1>{{ this.title }}</h1>
  </header>
  {% if this.starttext %}
    <section>
      {{ this.starttext }}
    </section>
  {% endif %}

  {% for page in this.children %}
    <section class="w3-section" id="{{page._id}}">
      {% if page.title %}
      <h2> {{ page.title }}</h2>
      {% endif %}
      {{ page.body }}

      {# images #}

      {# All images are rendered as thumbnails with LightBox support #}
      {% if page.attachments.images.all() %}
        {% set carousel_id = 'lbox2-' ~ get_random_id() %}
        <div class="slideshow">
          {% for image in page.attachments.images.all() %}
            <span class="image slide w3-image">
              <a href="{{ image|url }}" data-lightbox="{{ carousel_id }}" data-title="{{ image.description }}">
                  <img src="{{ image.thumbnail(120)|url }}" alt="фотография"/>
              </a>
            </span>
          {% endfor %}
        </div>
      {% else %}  {# if image.all() #}
      {% endif %}
    </section>
    {% endfor %}  {# for page in this.children #}

  {% if this.endtext %}
    <section>
      {{ this.endtext }}
    </section>
  {% endif %}
  <script id="jquery" src={{ "/jq/jquery.min.js"|url }}></script>
  <script id="lightbox2" src={{ "/lb2/js/lightbox.min.js"|url }}></script>
{% endblock %}

{#
vim:shiftwidth=2:expandtab:ts=2:softtabstop=2
#}
