<!--
title: Контакты
address: 614051, г. Пермь, ул. Юрша, д.23 
phone: (342) 266-32-90
fax: (342) 266-21-49
email: school.sofia2011@gmail.com 
email: shcoolsofia@mail.ru
-->
{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="contacts">
  <div class="address-line w3-theme-l3" display="block" valign="middle">
    <span class="mdi mdi-home">
      <span class="address">{{ this.address }}</span>
    </span>
  </div>
  <div class="phone-line w3-theme-l5" >
    <span class="mdi mdi-phone-classic">
      <span class="phone">{{ this.phone }}</span>
    </span>
  </div>
  <div class="fax-line w3-theme-l3">
    <span class="mdi mdi-fax">
      <span class="fax">{{ this.fax }}</span>
    </span>
  </div>
  <div class="email-line w3-theme-l5">
     <span class="mdi mdi-contact-mail">
       <span class="email"><a href='mailto:{{ this.email }}'>{{this.email}}</a></span>
     </span>
  </div>
  {% if this.email2 %}
    <div class="email"><a href='mailto:{{ this.email2 }}'>{{this.email2}}</a></div>
  {% endif %}
</div>
{#
  Есть проблема -- у нас телефонов, факсов и e-mail-ов может быть больше одного. Нужен синтаксис со списками,
  например, в исходном файле разделёнными '|', а здесь обрабатываемыми через цикл.
#}
{% block map %}
  <div class="image w3-border w3-padding" >
    <img width="450" height="350" src="https://static-maps.yandex.ru/1.x/?ll=56.3019061,58.003391&size=450,350&z=15&l=map&pt=56.304701,58.0035516,pm2rdl"/>
  </div>
{% endblock %}

{% block doublegis %}

{# http://api.2gis.ru/doc/maps/ru/quickstart/ #}

{% endblock %}

{% block googlemap %}
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Perm, Perm Krai, Russia Yursha, 23, &t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://wpicus.com">wpicus</a></div><style>.mapouter{overflow:hidden;height:500px;width:600px;}.gmap_canvas {background:none!important;height:500px;width:600px;}</style></div>
{% endblock %}

{% endblock %}

{# 
vim:shiftwidth=2:expandtab:ts=2:softtabstop=2
#}
