<!--
title: Контакты
address: 614051, г. Пермь, ул. Юрша, д.23 
phone: (342) 266-32-90
fax: (342) 266-21-49
email: school.sofia2011@gmail.com 
email: shcoolsofia@mail.ru
-->
{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="contacts">
  <div class="address-line" display="block" valign="middle">
    <span class="mdi mdi-home">
      <span class="address">{{ this.address }}</span>
    </span>
  </div>
  <div class="phone-line">
    <span class="mdi mdi-phone-classic">
      <span class="phone">{{ this.phone }}</span>
    </span>
  </div>
  <div class="fax-line">
    <span class="mdi mdi-fax">
      <span class="fax">{{ this.fax }}</span>
    </span>
  </div>
  <div class="email-line">
     <span class="mdi mdi-contact-mail">
       <span class="email"><a href='mailto:{{ this.email }}'>{{this.email}}</a></span>
     </span>
  </div>
  {% if this.email2 %}
    <div class="email"><a href='mailto:{{ this.email2 }}'>{{this.email2}}</a></div>
  {% endif %}
</div>
{#
  Есть проблема -- у нас телефонов, факсов и e-mail-ов может быть больше одного. Нужен синтаксис со списками,
  например, в исходном файле разделёнными '|', а здесь обрабатываемыми через цикл.
#}
{% endblock %}

{# 
vim:shiftwidth=2:expandtab:ts=2:softtabstop=2
#}
