{% extends "page.html" %}
<link rel="stylesheet" href="{{ '/mdi/css/materialdesignicons.min.css'|url }}">
{% block title %}{{ this.title }}{% endblock %}
{% from 'macros/blocksupport.html' import render_full_width_blocks %}

{% block bodyclass %}history{% endblock %}
{% block outerbody %}
  {{ render_full_width_blocks(this.body.blocks, classes='w3m-body') }}
{% endblock %}
{#
{% for blk in this.body.flow_blocks %}
  <div class="block block-{{ blk._flowblock }}">
    {{ blk }}
  </div>
{% endfor %}
#}
