<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, max-width=1024px">

<link rel="stylesheet" href="{{ '/static/w3.css'|url }}">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="{{ '/lb2/css/lightbox.min.css'|url }}">
<!-- Material design icons -->
<link rel="stylesheet" href="{{ '/mdi/css/materialdesignicons.min.css'|url }}">
<!--  material design, from Web
<link rel="stylesheet" href="http://cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
-->
<title>{% block title %}Добро пожаловать{% endblock %} — ЧОУ СОШ «София» г. Пермь</title> 
{% set nav_btn_classes = 'w3-button w3-blue w3-round w3-hover-teal w3-margin-top' %}
{% set nav_btn_classes_active = nav_btn_classes + ' w3-green' %}
{% set nav_btn_classes_passive = nav_btn_classes + ' w3-blue' %}
<body>
  <header>
    <div class="w3-container container" id="topgrad">
      <div class="logo" ><img src="/static/sofia-emblem.svg" alt="Эмблема школы" width="100%"/></div>
      <div class="header-nav">
        <div class="sitetitle">ЧОУ СОШ «София»</div>
          <nav>
          <ul class="w3-bar nav navbar-nav">
            <li{% if this._path == '/' %} 
                class="{{ nav_btn_classes_active }}"
              {% else %}
                class="{{ nav_btn_classes_passive }}" 
              {% endif %}>
              <a href="{{ '/'|url }}">Главная</a></li>
            {% for href, title in [
              ['/about', 'О школе'],
              ['/news', 'Новости'],
              ['/history', 'История'],
              ['/teachers', 'Учителя'],
              ['/students', 'Ученики'],
              ['/projects', 'Проекты'],
              ['/traditions', 'Традиции'],
              ['/development', 'Программа развития'],
              ['/doshkolniky', 'Дошкольникам'],
              ['/contacts', 'Контакты'],
            ] %}
            <li {% if this.is_child_of(href) %}
                   class="{{nav_btn_classes_active}}" 
                {% else %}
                   class="{{nav_btn_classes_passive}}" 
                {% endif %} 
                ><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
  </header>
  <div class="page w3-pale-blue">
    {# Ссылка на старый сайт  #}
    <div class="w3-card-8 w3-yellow">
      <p><span class="mdi mdi-worker"/>Эта версия сайта находится в процессе постройки. <a href="http://sofia.hut1.ru">Старый сайт.</a></p>
    </div>
    {% block body %}{% endblock %}
  </div>
  <footer class='w3-container w3-blue' >
    <p><a href="{{'/copyright'|url}}">&copy; 2017 ЧОУ СОШ «София»</a>.  Просим при перепечатке указывать ссылку на копируемый материал.</p>
  </footer>
</body>
<!-- 
vim:shiftwidth=2:expandtab:softtabstop=2:ts=2
-->
