{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% set pages = site.query('/teachers').all() %}
  <header>
    <h1>{{ this.title }}</h1>
      <ul class="w3-ul w3-hoverable">
        {% for page in pages %}
          <li><a href="#{{ page._id }}">{{ page.name }}</a>&nbsp;— {{ page.title }};</li>
        {% endfor %}
      </ul>
  </header>
  <p>
    Учитель нашей школы отличается целостным мышлением, высоким уровнем
    компетентности, знанием и практическим применением методик
    личностно-ориентированного обучения, пониманием места частного
    образования в стране.
  </p>
  <p>
    Все учителя школы имеют высшее образование.
  </p>
  <p>
    Распределение учителей по категориям: первая категория&nbsp;— 50%,  высшая
    категория&nbsp;— 40%, кандидат педагогических наук&nbsp;— 10%.
  </p>

  {% for page in pages %}
    <div class="section teacher" id="{{ page._id }}">
      {% set image = page.attachments.images.first() %}
      {% if image %}
      <div class="teacher_photo">
        <div class="image">
          <a href="{{ image|url }}"><img src="{{ image.thumbnail(150)|url }}" alt="{{ page.title }}"/></a>
        </div>
      </div>
      {% endif %}
      <h3 class="teacher">{{ page.name }}</h3>
      <div class="teacher_info">
        {% if page.title %}<p>{{page.title}}</p>{% endif %}
        <div class="list">
          <ul>
            {% if page.category %}<li>Категория: {{ page.category }}</li>{% endif %}
            {% if page.stage %}<li>Общий стаж: {{ page.stage }}</li>{% endif %}
            {% if page.pedstage %}<li>Педагогический стаж: {{page.pedstage}}</li>{% endif %}
            {% if page.courses %}<li>Курсы повышения квалификации: {{page.courses}}{% endif %}
          </ul>
        </div>
        {{ page.body }}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{#
vim:shiftwidth=2:expandtab:ts=2:softtabstop=2
#}
