{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% set pages = site.query('/teachers').all() %}
  <header>
    <h1>{{ this.title }}</h1>
    <nav>
      <ol>
        {% for page in pages %}
	<li><a href="#{{ page._id }}">{{ page.name }}&nbsp;— {{ page.title }}</a></li>
        {% endfor %}
      </ol>
    </nav>
  </header>
  <p>
    Учитель нашей школы отличается целостным мышлением, высоким уровнем
    компетентности, знанием и практическим применением методик
    личностно-ориентированного обучения, пониманием места частного
    образования в стране.
  </p>
  <p>
    Все учителя школы имеют высшее образование.
  </p>
  <p>
    Распределение учителей по категориям: первая категория&nbsp;— 50%,  высшая
    категория&nbsp;— 40%, кандидат педагогических наук&nbsp;— 10%.
  </p>

  {% for page in pages %}
    <div class="section" id="{{ page._id }}">
      <h3 class="teacher">{{ page.name }}</h3>
        {% set image = page.attachments.images.first() %}
	{% if image %}
        <div class="image">
          <a href="{{ image|url }}"><img src="{{ image.thumbnail(200)|url }}" alt="{{ page.title }}"/></a>
        </div>
	{% endif %}
      {{ page.body }}
    </div>
  {% endfor %}
{% endblock %}
