{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% set pages = site.query('/teachers').all() %}
  <header>
    <h1>{{ this.title }}</h1>
      <ul class="w3-ul w3-hoverable">
        {% for page in pages %}
        <li><a href="#{{ page._id }}">{{ page.personal_n }} {{
                page.father_n }} {{ page.family_n }}</a>&nbsp;— {{ page.title }};</li>
        {% endfor %}
      </ul>
  </header>
  <p>
    Учитель нашей школы отличается целостным мышлением, высоким уровнем
    компетентности, знанием и практическим применением методик
    личностно-ориентированного обучения, пониманием места частного
    образования в стране.
  </p>
  <p>
    Все учителя школы имеют высшее образование.
  </p>
  <p>
    Распределение учителей по категориям: первая категория&nbsp;— 50%,  высшая
    категория&nbsp;— 40%, кандидат педагогических наук&nbsp;— 10%.
  </p>

  {% for page in pages %}
    <div class="section teacher" id="{{ page._id }}">
      {% set image = page.attachments.images.first() %}
      {% if image %}
      {% set carousel_id = 'lbox2-' ~ get_random_id() %}
      <div class="teacher_photo">
        <div class="image">
          <a href="{{ image|url }}"><img src="{{ image.thumbnail(150)|url }}" alt="{{ page.title }}"/></a>
        </div>
      </div>
      {% endif %}
      <h3 class="teacher">{{ page.personal_n }} {{ page.father_n }} {{ page.family_n }}</h3>
      <div class="teacher_info">
        {% if page.title %}<p>{{page.title}}</p>{% endif %}
        <div class="list">
          <ul>
            {% if page.category %}<li>Категория: {{ page.category }}</li>{% endif %}
            {% if page.stage %}<li>Общий стаж: {{ page.stage }}</li>{% endif %}
            {% if page.pedstage %}<li>Педагогический стаж: {{page.pedstage}}</li>{% endif %}
            {% if page.courses %}<li>Курсы повышения квалификации: {{page.courses}}{% endif %}
          </ul>
        </div>
        {{ page.body }}
      </div>
      {# У учителей бывают сертификаты, портфолио и прочие работы. Сделаю тут для всего этого lightbox,
         как в новостях.  // Teachers can have certificates, gratitude letters etc, lets do a lightbox
         for this data #}
      {# All images are rendered as thumbnails with LightBox support #}
      {% if page.attachments.images.all() %}
        <div class="slideshow">
          {% for image in page.attachments.images.all() %}
            {% if loop.first %}
            {% else %}
              <span class="image slide w3-image">
                <a href="{{ image|url }}" data-lightbox="{{ carousel_id }}" data-title="Изображение">
                    <img src="{{ image.thumbnail(100)|url }}" alt="фотография"/>
                </a>
              </span>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}  {# if image.all() #}
      {% endif %}

    </div>
  {% endfor %}
  <script id="jquery" src={{ "/jq/jquery.min.js"|url }}></script>
  <script id="lightbox2" src={{ "/lb2/js/lightbox.min.js"|url }}></script>
{% endblock %}

{#
vim:shiftwidth=2:expandtab:ts=2:softtabstop=2
#}
